<table *ngIf="hasRoute('/products')">
    <app-header></app-header>
    <div>
        <!--<a routerLink="/">Home</a>-->
    </div>
    <tr class="container2">
        <td>#</td>
        <td>Title</td>
        <td></td>
        <td>Price</td>
    </tr>
    <tr *ngFor="let item of data">
        <div class="container">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <img src={{item.imageUrl}} alt="" class="test">
            <td class="price">id{{item.description}}</td>
            <td>{{item.price}}Kr</td>
            <button class="btn" (click)="onClick(item.id)">KÖP</button>
        </div>
    </tr>
</table>