<table *ngIf="hasRoute('/products')">
    <app-header></app-header>
    <tr class="container2">
        <td>#</td>
        <td>Title</td>
        <td></td>
        <td>Price</td>
    </tr>
    <div *ngFor="let item of movies">
        <div class="container">
            <td>{{item.name}}</td>
            <img src={{item.imageUrl}} alt="" class="test">
            <td class="price">{{item.description}}</td>
            <td>{{item.price}}SEK</td>
            <button class="btn" (click)="addToCart(item)">Add to Cart</button>
        </div>
    </div>
</table>