<div *ngIf="hasRoute('/cart')">
    <app-header></app-header>
    
    <div *ngFor="let cartItem of cart.items">
        <div>
            <h1>{{cartItem.movie.name}}</h1>
            <p>Amount: {{cartItem.quantity}}</p>
            <p>Price: {{cartItem.movie.price}} SEK</p>
            <img src="{{cartItem.movie.imageUrl}}" alt="{{cartItem.movie.name}}">
            <button (click)="removeCartItem(cartItem)">Remove</button>
        </div>
    </div>

    
</div>
    <form [formGroup]="userForm" (ngSubmit)="orderToAPI()" class="formGroup">
        <div>
            <label for="firstName"> Name:</label>
            <input type="text" id="firstName" formControlName="firstName">
        </div>
        <div>
            <label for="lastName">Surname:</label>
            <input type="text" id="lastName" formControlName="lastName">
        </div>

        <button type="submit">Order</button>
        <h2>Total Price: {{cart.priceSum}} SEK</h2>
    </form>