.header{
    display: flex;
    justify-content: space-around;
    border: 5px solid black;
    text-align: center;
    width: 90%;
}
.container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 15px;
    position: relative;
    left: 50px;
    top: 30px;
    padding: 20px;
    border: 2px solid black;
}
.container2{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 15px;
    position: relative;
    left: 50px;
    top: 30px;
    padding: 20px;
    border: 2px solid black;
}
.btn{
    height: 40%;
    position: relative;
    top: 100px;
}