.header{
    display: flex;
    justify-content: space-around;
    border: 5px solid black;
    text-align: center;
    width: 20%;
    position:fixed;
    z-index: 999;
    background-color: white;
    top: 0;
    right: 20%;

}
.container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 15px;
    position: relative;
    left: 50px;
    top: 30px;
    padding: 20px;
    border: 2px solid black;
    width: 150vh;
}
.container2{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 15px;
    position: relative;
    left: 50px;
    top: 30px;
    padding: 20px;
    border: 2px solid black;
}
.btn{
    height: 40%;
    position: relative;
    top: 100px;
}
.formGroup{
    padding-top: 30px;
    border: 1px solid black;
    width: 90vh;
}